body {
    background: pink;
}

.form_wrapper.w-shadow {
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
}

.form_wrapper {
    padding: 30px 30px 20px;
    background: #FAF9F6;
    border-radius: 8px;
    padding: 30px 20px 20px;
    margin-bottom: 30px;
    width: 50%;
}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}